/.metadata/
glue-lib
glue-lib-headers
mc-sotdma
mc-sotdma-headers
avionic-rlc
avionic-rlc-headers
avionic-arq
avionic-arq-headers
*.sca
*.vec
*.vci
out/
intairnet-link-layer/out
cmake-build-debug
intairnet-link-layer/.cproject
intairnet-link-layer/.settings/language.settings.xml
intairnet-link-layer/src/intairnet-link-layer
intairnet-link-layer/src/intairnet-link-layer_dbg
intairnet-link-layer/src/Makefile
